
@font-face {
    font-family: 'widescreen_trialex_semibold';
    src: url('widescreenex_trial_sbd-webfont.woff2') format('woff2'),
         url('widescreenex_trial_sbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --lightblue: #90E0EF;
}


body {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    background: #FFF;


}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    
}
li {
    text-decoration:  none;
    list-style: none;
    font-size: 26px;
    color: #000;
    padding: 0 2rem 0 2rem;
    cursor: pointer;
    transition: color 0.5s;
    position: relative;

}

hr {
    height: 1px;
    width: 400px;
    background: #000;
}

.menu {
    display: none;
}


.nav {
    height: 10vh;
    background: #fff;
    display: grid;
    align-items:end;
    background: #fff;
    justify-content: center;
    align-items: center;
}




li:hover {
    color: #e63946;
    opacity: 1;
}


a#socials {
    text-decoration: none;
    color: #000;
    transition: color 0.5s ;
}

a#socials:hover {
    color: #e63946;

}

a#blogs {
    text-decoration: none;
    color: #000;
    transition: color 0.5s ;
    
}
a#blogs:hover {
    color: #e63946;
}

li#socials {
    transition: transform 1s;

}
li#about { 
    transition: transform 1s; 
}

li#blogs {
    transition: transform 1s; 
}

li#socials:hover {
    transform: translateX(-20px);
}
li#about:hover {
    transform: translateY(-20px);
}
li#blogs:hover {
    transform: translateX(20px);
}





li#socials:after  { 
    content: url("socialIcons/facebook.png");
    display: inline-block;
    position: absolute;
    right: 60%;
    transition: all 0.5s;
    opacity: 0;
}

li#socials:hover:after {
    opacity:  1;
    right: 5px;
    transition: all 0.5s;

}
li#about:after  { 
    content: url("socialIcons/helloimg.png");
    display: inline-block;
    position: absolute;
    left: 25%;
    
    transition: all 0.5s;
    opacity: 0;
    top: 25%;
    
}
li#about:hover:after {
    opacity:  1;
    transition: all 0.5s;
    

}

.header:after  {
    content: "";
    display: block;
    height: 100%;
    width: 40rem;
    border-bottom: 2px solid #000;
    margin-top: 10px;

}



section.title {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 0.75in 1fr 0.75in   1fr ;
    justify-items: center;
    font-family: 'Inter', sans-serif;
    
    align-items: start;
}


/* ==== HOME TITLE ===== */
h1 {
    font-size: 74px;
    grid-column: 2/3;

} 

.head {
    padding-bottom: 20px;
    margin: 0;
    letter-spacing: 4px;
}
.homeTitle  {
    margin: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 3/3;
}

.homeTitle > .quote {
    text-align: right;
    padding-bottom: 20px;
    font-size: 18px;
}

/* ==== HOME TITLE ===== */


.content .bio {
    padding: 0;
    text-align: right;
  
}

.callToAction {
    font-size: 28px;
    padding-bottom: 30px;;
}

.bio {
    font-size: 18px;
}

/* ==== IMAGE REDFIST ====== */
.redFist { 
    position: relative;
    overflow: hidden;
     grid-column: 2/3;
     margin-left: 20%;
}


.blueFist {
    position: absolute;
    margin-left: 50%;
    margin-top: 5%;

}
/* ==== IMAGE REDFIST ====== */

/* ==== BUTTON ===== */
.btn { 
    padding: 1em 3em;
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 0 0.3em 0.3em 0;
    background: #fff;
    border: 2px solid #000;
    font-family: 'Inter', sans-serif;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: transform 1s;
} 
.btn a {
    transition: color 1s;
}

.btn:hover {
    transform: translateY(-10px);
}
.btn a:hover {
    color:#e63946;

}


button > a {
    text-decoration: none;
    color: #000;
}




/* ==== BUTTON ===== */



.movingBall {
    position: absolute;
    margin-left: 31%;
    margin-top: 6%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: radial-gradient(circle at 20px 20px, #5cabff, #000);
    z-index: 1;
    transition: all 0.5s;
    animation: swing 2s ;
    animation-fill-mode: forwards;
}

.movingBall .shadow { 
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0,0,0,0.4), rgba(0,0,0,0.1) 40%, rgba(0,0,0,0) 50%);
    transform: rotateX(90deg) translateZ(-20px)
    ;
}

 


@keyframes swing {
    0% { 
        margin-left: 31%;
        margin-top: 5%
    }

    100% {
        margin-left: 0%;
        margin-bottom: 30%;
    }
}


/* ==== MEDIA QUERIES ===== */
@media only screen and  (max-width: 1720px) {
 .homeTitle >  .bio {
        font-size: 18px;
        padding-right: 10px;
        word-wrap:break-word;
        text-align: center;
    }
  
}

@media only screen and (max-width: 375px) {
    h1 {
        font-size: 46px;
    }

    .homeTitle > .quote {
        font-size: 16px;
        padding: 0 1.3rem 0 1.3rem;
    }
    
    .homeTitle > .bio {
        font-size: 16px;
        width: 75%;
        z-index: 1;
    }
    .callToAction {
        z-index: 1;   
    }
    hr {
        z-index: 1;
    }

    #help {
        font-size: 18px;
        text-align: center;
        z-index: 1;
    }

    .blueFist {
        margin-left: 30%;
        margin-top: 75%;
        z-index: 0;
        height: 700px;
        width: 500px;
    }
    .redFist {
        margin-left: 5%;
        margin-top: 105%;
        z-index: 0;
        height: 700px;
        width: 500px;
        position: absolute;
    }


    .nav .header {
        display: none;
       
    }

    .header:after {
        display: none;
    }
    .nav {
        width: 150%;
        justify-content: center;
        align-items: center;
    }
    .menu {
        position: relative;
        display:block;
        align-self: center;
        justify-self: center;
    }


    ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    li {
        padding: 5px 0 5px 0;
    }
    li#about::after {
        display: none;
    }

    li#about:hover {
        transform: translateX(-20px);
    }

}

@media only screen and (max-width: 414px) {
    h1 {
        font-size: 46px;
    }

    .homeTitle > .quote {
        font-size: 16px;
        padding: 0 1.3rem 0 1.3rem;
    }
    
    .homeTitle > .bio {
        font-size: 16px;
        width: 75%;
        z-index: 1;
    }
    .callToAction {
        z-index: 1;   
    }
    hr {
        z-index: 1;
    }

    #help {
        font-size: 18px;
        text-align: center;
        z-index: 1;
    }

    .blueFist {
        margin-left: 30%;
        margin-top: 75%;
        z-index: 0;
        height: 700px;
        width: 500px;
    }
    .redFist {
        margin-left: 5%;
        margin-top: 105%;
        z-index: 0;
        height: 700px;
        width: 500px;
        position: absolute;
    }
    .nav .header {
        display: none;
       
    }

    .header:after {
        display: none;
    }
    .nav {
        width: 150%;
        justify-content: center;
        align-items: center;
    }
    .menu {
        position: relative;
        display:block;
        align-self: center;
        justify-self: center;
    }


    ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;

}
/* ======= MOBILE RESPONSIVENESS ========  */




