* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hina Mincho', serif;
}


body {
    height: 100vh;
    display: grid;
    flex-direction: row;
   
    flex-direction: column;
    row-gap: 0;
    grid-template-rows: auto ;

    background: url("photos/forest.jpg")
}

h1 {
    display: flex;
    flex-direction: column;
    padding: 2.3rem;
    color: #fff;
     justify-self: center;
    align-self: flex-end;
    text-align: center;

}

button {
    cursor: pointer ;
    height: 25px;
    width: 250px;
    justify-self: center  !important;
    align-items: flex-start !important;
    

}
